__pycache__
*.pyc
env/
db.sqlite3
develop-environment.json
oauth_settings.yml
dump.rdb
pg_data/
db_dumps/
azure/
.vscode/
.idea/

**/node_modules/

latest.dump

Dockerfile*
docker/
docker-compose*

pgbouncer.pid
pgbouncer.log
pgbouncer.ini
userlist.txt