{% extends 'navbar_page_template.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <h2>{% translate 'New schema' %}</h2>
{% endblock header %}

{% block content-main %}
    <div class="container-fluid">
        {% if column_form.errors %}
            {% for form in column_form %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="form-group">
            {% csrf_token %}
            {{ schema_1column_formset.management_form }}
            <div class="text-right">
                <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
            </div>
            <div class="row">
                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        {{ form.column_separator.label_tag }}
                        {{ form.column_separator }}
                        {{ form.column_separator.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        {{ form.string_character.label_tag }}
                        {{ form.string_character }}
                        {{ form.string_character.errors }}
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <h3>{% translate 'Schema column' %}</h3>
                {% for column_form in schema1_column_formset %}
                    <div class="form-row" id="schema_column_form1">
                        <div class="form-group col-md-3">
                            {{ column_form.name.label_tag }}
                            {{ column_form.name }}
                            {{ column_form.name.errors }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ column_form.type.label_tag }}
                            {{ column_form.type }}
                            {{ column_form.type.errors }}
                        </div>
                        <div class="form-group col-md-1">
                            {{ column_form.from_field.label_tag }}
                            {{ column_form.from_field }}
                            {{ column_form.from_field.errors }}
                        </div>
                        <div class="form-group col-md-1">
                            {{ column_form.to_field.label_tag }}
                            {{ column_form.to_field }}
                            {{ column_form.to_field.errors }}
                        </div>
                        <div class="form-group col-md-2">
                            {{ column_form.order.label_tag }}
                            {{ column_form.order }}
                            {{ focolumn_formrder.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
        <div class="my-3" id="add_button">
            <button class="btn btn-primary" id="add_column">{% trans 'Add column' %}</button>
        </div>
    </div>
{% endblock content-main %}

{% block includes-js %}
    <script src="{% static 'csv_generator/js/schema_column_include.js' %}"></script>
{% endblock includes-js %}