{% extends 'navbar_page_template.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <div class="row">
        <div class="col-auto mr-auto">
            <h2>{% translate 'Data sets' %}</h2>
        </div>
        <div class="col-auto">
            <form action="{% url 'process_generate' %}" method="post">
                {% csrf_token %}
                <label for="id_records_num">{% translate 'Rows:' %}</label>
                <input type="number" max="10000" id="records_num" name="records_number">
                <input hidden id="gen_schema_id" type="number" name="schema_id" value="{{ schema_id }}">
                <button type="submit" class="btn btn-success">{% translate 'Generate data' %}</button>
            </form>
        </div>
    </div>
{% endblock header %}

{% block content-main %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% translate 'Created' %}</th>
            <th scope="col">{% translate 'Status' %}</th>
            <th scope="col">{% translate 'Action' %}</th>
        </tr>
        </thead>
        <tbody id="mydiv">
        {% for generated_file in generated_files %}
            <tr>
                <th scope="row">{{ generated_file.id }}</th>
                <td>{{ generated_file.created_datetime }}</td>
                <td>
                    {% if generated_file.is_generated == False %}
                        {#{{ generated_file.id|json_script:'generated_file_id' }}#}
                        <a href="#" id="process_button_{{ generated_file.id }}" class="btn btn-secondary disabled"
                           role="button"
                           aria-disabled="true">{% translate 'Processing' %}</a>
                    {% else %}
                        <a href="#" id="ready_button_{{ generated_file.id }}" class="btn btn-success disabled" role="button"
                           aria-disabled="true">{% translate 'Ready' %}</a>
                    {% endif %}
                </td>
                <td>
                    {#                    <a class="mx-3"#}
                    {#                       href="{% url 'data_view' generated_file_id=generated_file.id %}">{% translate 'Show' %}</a>#}
                    {% if  generated_file.file_name %}
                        <a class="mx-3"
                           href="{% url 'download' path=generated_file.file_name %}">{% translate 'Download' %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="#" id="log-button" class="btn btn-secondary " role="button">{% translate 'Log' %}</a>
    <textarea id="log" cols="100" rows="2"></textarea><br>
{% endblock content-main %}

{% block includes-js %}
    <script>
        // websocket script
        {#console.log(window.location)#}

        const schemaId = document.getElementById('gen_schema_id').value
        const generated_files = document.querySelectorAll('*[id^="process_button_"]');
        const ready_file = document.querySelectorAll('*[id^="ready_button_"]');
        const wsStart = window.location.protocol === "https:" ? 'wss://' : 'ws://'
        const socket = new WebSocket(
            wsStart
            + window.location.host
            + '/ws/generator/'
            + schemaId
            + '/'
        );

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            document.querySelector('#log').value += data['generated_file_id'];
            console.log(data)
            console.log("message", e)
        }

        socket.onerror = function (e) {
            console.log("error", e);
        }

        socket.close = function (e) {
            console.error('Chat socket closed unexpectedly');
        }

        let processingButtonIds = []
        ready_file.forEach(function (item){
            processingButtonIds.push(parseInt(item.id.slice(13,)))
        })
        processingFileIds = JSON.stringify(processingButtonIds);
        document.querySelector('#log-button').focus();
        document.querySelector('#log-button').onclick = function(e) {
            socket.send(JSON.stringify({
                'generated_file_id': processingFileIds
            }))};

    </script>
{% endblock includes-js %}
