{% extends 'navbar_page_template.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <div class="row">
        <div class="col-auto mr-auto">
            <h2>{% translate 'Data schemas' %}</h2>
        </div>
        <div class="col-auto">
            <a href="{% url 'schemas_create' %}">
                <button type="button" class="btn btn-success">{% translate 'New schema' %}</button>
            </a>
        </div>
    </div>
{% endblock header %}

{% block content-main %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% translate 'Title' %}</th>
            <th scope="col">{% translate 'Modified' %}</th>
            <th scope="col">{% translate 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for schema in schemas %}
            <tr>
                <th scope="row">{{ schema.id }}</th>
                <td>{{ schema.name }}</td>
                <td>{{ schema.changed_datetime }}</td>
                <td>
                    <a href="{% url 'schemas_edit' schema_id=schema.id %}" class="ml-3">{% translate 'Edit' %}</a>
                    <a href="{% url 'schema_to_generate' schema_id=schema.id %}" class="ml-3">{% trans 'Generate' %}</a>
                    <a href="{% url 'schemas_delete' schema_id=schema.id %}"
                       class="text-danger ml-3">{% translate 'Delete' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content-main %}
