{% extends 'navbar_page_template.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <div class="row">
        <div class="col-auto mr-auto">
            <h2>{% translate 'Data schemas' %}</h2>
        </div>
        <div class="col-auto">
            <a href="{% url 'schemas_create' %}">
                <button type="button" class="btn btn-success">{% translate 'Data table' %}</button>
            </a>
        </div>
    </div>
{% endblock header %}

{% block content-main %}
    <table class="table table-bordered">
        {{ loaded_data }}
    </table>
{% endblock content-main %}
