{% extends 'base_page_template.html' %}
{% load i18n %}
{% load static %}

{% block global-pre-body %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Additional container -->
        <div class="container">
            {% block navbar-brand %}
                <h3>FakeCSV</h3>
            {% endblock navbar-brand %}

            {% block navbar-menu %}
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    {% block navbar-start %}
                        <ul class="navbar-nav mr-auto ml-3">
                            <li class="nav-item active ml-3">
                                <a class="nav-link btn btn-outline-secondary" href="{% url 'schemas_list' %}">{% trans 'Schemas' %} <span
                                        class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    {% endblock navbar-start %}

                    {% block navbar-middle %}{% endblock %}

                    {% block navbar-end %}
                        <ul class="navbar-nav my-2 my-lg-0">
                            <li class="nav-item mr-sm-2">
                                {% translate 'Hello, ' %} {{ user.username }}
                            </li>
                            <li class="nav-item my-2 my-sm-0">
                                <a title="Logout" href="{% url 'logout' %}">
                                    {% translate 'Logout' %}
                                </a>
                            </li>
                        </ul>
                    {% endblock navbar-end %}
                </div>
                <!-- Collapsible content -->
                </div>
            {% endblock navbar-menu %}
    </nav>
    <!--/.Navbar-->
{% endblock global-pre-body %}
<!-- Footer -->
{% block footer %}
    <footer class="page-footer font-small blue-gradient fixed-bottom">
        <!-- Copyright -->
        <small>All rights reserved.</small>
        <!-- Copyright -->
    </footer>
{% endblock footer %}
<!-- Footer -->
